hr {
	margin:30px 0;
	padding:0;
	border:0;
	height:1px;
	color:#282828;
	background-color:#282828;
	clear:both;
}
.blogNavigation hr {
	margin:10px 0;
	clear:both;
}

.fleft {
	float:left;
}
.fright {
	float:right;
}

.articleInfo {
	margin-bottom:15px !important;
}

.syntaxhighlighter {
	padding:5px 0;
}

.toolbar {
	display:none !important; /* Hide donation message from syntaxhighlighter */
}
.archive {
	margin:0;
	padding:0 0 5px 0;
	list-style:none;
}

#commentList {
	margin:0 0 15px 0;
	border-top:2px solid #ccc; /* Border color for comments */
	border-left:2px solid #ccc; /* Border color for comments */
	border-right:2px solid #ccc; /* Border color for comments */
}
table.comment {
	padding:5px 10px;
	width:100%;
	background:#ddd; /* Background color for comment row1 */
	text-align:left;
	vertical-align:top;
	border-bottom:2px solid #ccc; /* Border color for comments */
}
table.commentAlt {
	padding:5px 10px;
	width:100%;
	background:#d3d3d3; /* Background color for comment row2 */
	text-align:left;
	vertical-align:top;
	border-bottom:2px solid #ccc; /* Border color for comments */
}
table.comment td, table.commentAlt td {
	text-align:left;
	vertical-align:top;
}
.gravatarCol {
	width:58px; /* avatar size + wanted padding */
}
.commentAuthor {
	color:#fcaf17; /* text color for author's comments */
}

#commentForm th {
	padding:5px 10px;
	text-align:left;
	background:#ddd;
}
#commentForm img {
	margin:0;
	padding:0 5px 0 0;
	width:60px; /* width of the captcha image */
	height:30px; /* height of the captcha image */
	float:left;
}
#commentForm textarea {
	width:300px;
	height:120px;
}
#commentForm input {
	width:300px;
	height:25px;
}
#commentForm input[name=captcha_1] {
	width:140px;
}
#commentForm input[name=submit] {
	width:80px;
}

textarea {
	resize: none;
	overflow: auto;
}

#contentPush {
	padding-bottom:15px;
	clear:both;
}
