{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% block title %}Blog{% endblock %}
{% block content %}
	{% include 'blog_navigation.html' %}
	{% for article in articles %}
	<div class="article">
		<h3><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h3>
		<h5 class="articleInfo">
			{% trans "Posted on" %}
			{{ article.date|date:"Y-m-d" }}
			<br>{% trans "By" %}
			{{ article.author.first_name }} {{ article.author.last_name }}
			{% trans "in" %}
			{% for category in article.categories.all %}
				<a href="{{ category.get_absolute_url }}">{{ category.name }}</a>{% if not forloop.last %},&nbsp;{% endif %}{% if forloop.last %}.{% endif %}
			{% endfor %}
		</h5>
		{{ article.body|safe|truncatewords_html:60 }}
		<span class="fright">>&nbsp;<a href="{{ article.get_absolute_url }}">{% trans 'Read article' %}</a></span>
		<hr>
	</div>
	{% endfor %}
	<div id="pagination">
		{% if page.has_previous %}
			<a class="fleft" href="/blog/{{ page.previous_page_number }}/">Previous Page</a>
		{% endif %}
		{% if page.has_next %}
			<a class="fright" href="/blog/{{ page.next_page_number }}/">Next Page</a>
		{% endif %}
	</div>
	<div id="contentPush"></div>
{% endblock %}
